@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
:root {
  --font-family: "Geist", sans-serif;
  --white: #fff;
  --black: #000;
  --puprple: #6877dd;
  --dark-purple: #5a67bf;
  --light-blue: #ecf1f9;
  --grey: #677280;
  --grey-2: #aaacaf;
  --purple-transparent: rgba(104, 119, 221, 0.5);
  --light-background: #f6f7f9;
  --red: #db0000;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 606px) {
  .container {
    padding: 0 10px;
  }
}
.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.input-wrap input {
  border-radius: 60px;
  padding: 0 20px;
  width: 100%;
  height: 47px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.input-wrap input::-webkit-input-placeholder {
  color: var(--grey-2);
}
.input-wrap input::-moz-placeholder {
  color: var(--grey-2);
}
.input-wrap input:-ms-input-placeholder {
  color: var(--grey-2);
}
.input-wrap input::-ms-input-placeholder {
  color: var(--grey-2);
}
.input-wrap input::placeholder {
  color: var(--grey-2);
}
.input-wrap textarea {
  border-radius: 20px;
  padding: 15px 20px;
  width: 100%;
  min-height: 130px;
  resize: none;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.input-wrap textarea::-webkit-input-placeholder {
  color: var(--grey-2);
}
.input-wrap textarea::-moz-placeholder {
  color: var(--grey-2);
}
.input-wrap textarea:-ms-input-placeholder {
  color: var(--grey-2);
}
.input-wrap textarea::-ms-input-placeholder {
  color: var(--grey-2);
}
.input-wrap textarea::placeholder {
  color: var(--grey-2);
}
.input-wrap p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--red);
  display: none;
}

.input-wrap.error input {
  border: 1px solid var(--red);
}
.input-wrap.error p {
  display: block;
}

.corner {
  position: absolute;
  right: 0;
  top: 0;
}
.corner__wrapper {
  position: relative;
}
.corner__wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  right: 100%;
  top: 0;
}
.corner__wrapper .body {
  border-radius: 0 0 0 30px;
  padding: 0px;
  width: 60px;
  height: 60px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.corner__wrapper .body .icon {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background: var(--puprple);
}
.corner__wrapper .bottom {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 100%;
  right: 0;
}

.corner.gray .left path, .corner.gray .bottom path {
  fill: var(--light-background);
}
.corner.gray .body {
  background: var(--light-background);
}

.breadcrumbs {
  margin-bottom: 10px;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.breadcrumbs__list li:not(:last-child)::after {
  display: inline-block;
  content: "/";
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--grey);
}
.breadcrumbs__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: var(--grey);
}
.breadcrumbs__link.active {
  font-weight: 500;
  color: var(--puprple);
  pointer-events: none;
}

@media (hover: hover) {
  .breadcrumbs__link:hover {
    color: var(--puprple);
  }
}
@media (hover: none) {
  .breadcrumbs__link:active {
    color: var(--puprple);
  }
}
@media (max-width: 606px) {
  .breadcrumbs {
    padding: 0 0 7.5px 0;
  }
}
.section {
  padding: 50px 0;
}
.section:first-of-type {
  padding-top: 0;
}
.section:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 606px) {
  .section {
    padding: 25px 0;
  }
  .section:first-of-type {
    padding-top: 0;
  }
  .section:last-of-type {
    padding-bottom: 0;
  }
}
h1, .h1 {
  line-height: 110%;
  font-weight: 500;
  font-size: clamp(32px, 32px + (100vw - 606px) * 0.0504807692, 53px);
}

h2, .h2 {
  font-weight: 500;
  line-height: 110%;
  font-size: clamp(27px, 27px + (100vw - 606px) * 0.0552884615, 50px);
}

.h3, h3 {
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
}

.text {
  font-size: 16px;
  line-height: 150%;
}
.text_dop {
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
}

.number {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.subtitle::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--puprple);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.btn {
  border-radius: 40px;
  padding: 0 25px;
  height: 47px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  color: var(--white);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border: 1px solid transparent;
  background: var(--puprple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn_white {
  color: var(--puprple);
  border: 1px solid var(--puprple);
  background: transparent;
}

.hover-link {
  color: var(--black);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (hover: hover) {
  .btn:hover {
    background: var(--dark-purple);
  }
  .btn_white:hover {
    background: var(--puprple);
    color: var(--white);
  }
  .hover-link:hover {
    color: var(--puprple);
  }
}
@media (hover: none) {
  .btn:active {
    background: var(--dark-purple);
  }
  .btn_white:active {
    background: var(--puprple);
    color: var(--white);
  }
  .hover-link:active {
    color: var(--puprple);
  }
}
.menu-overlay {
  position: fixed;
  background: var(--purple-transparent);
  inset: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.overlay {
  position: fixed;
  z-index: 3;
  background: var(--purple-transparent);
  display: none;
  grid-template-columns: 10px 1fr 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  inset: 0;
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
  overflow-y: auto;
}

.overlay.active {
  display: grid;
}

.overlay.visible {
  opacity: 1;
}

.mobile-menu {
  padding: 20px 15px 0 15px;
}
.mobile-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
}
.mobile-menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  border: 1px solid var(--puprple);
  width: 45px;
  height: 45px;
  background: var(--white);
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu__body {
  -webkit-box-shadow: 0 5px 20px 0 var(--purple-transparent);
          box-shadow: 0 5px 20px 0 var(--purple-transparent);
  background: var(--white);
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  background: var(--light-blue);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--black);
}
.mobile-menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.mobile-menu__button {
  width: 100%;
}

.modal-callback {
  border-radius: 30px;
  padding: 40px;
  background: var(--light-blue);
  max-width: 600px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: 2/span 1;
  margin: 0 auto;
}
.modal-callback__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
}
.modal-callback__close {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background: var(--puprple);
  border-radius: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
}
.modal-callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.modal-callback__form.hidden {
  display: none;
}

.modal-policy {
  border-radius: 30px;
  padding: 40px;
  background: var(--light-blue);
  max-width: 1250px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: 2/span 1;
  margin: 0 auto;
}
.modal-policy__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.modal-policy__text .text {
  color: var(--grey);
}
.modal-policy__text .text a {
  text-decoration: underline;
}

@media (max-width: 1022px) {
  .menu-overlay.active {
    display: block;
  }
  .menu-overlay.visible {
    opacity: 1;
  }
}
@media (max-width: 606px) {
  .mobile-menu {
    padding: 10px 10px 0 10px;
  }
  .modal-callback {
    border-radius: 20px;
    padding: 15px;
  }
  .modal-policy {
    border-radius: 20px;
    padding: 15px;
  }
}
@media (max-width: 400px) {
  .modal-policy__title {
    font-size: 24px;
  }
}
.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--light-background);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120px;
  width: 100%;
}
.header__logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__list-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--black);
  white-space: nowrap;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__button {
  padding: 0 20px;
}
.header__burger {
  display: none;
  border-radius: 100%;
  border: 1px solid var(--puprple);
  width: 45px;
  height: 45px;
  background: transparent;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header.sticky {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (max-width: 1200px) {
  .header__left {
    gap: 25px;
  }
  .header__list {
    gap: 15px;
  }
}
@media (max-width: 1022px) {
  .header__nav {
    display: none;
  }
  .header__buttons {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 606px) {
  .header {
    padding: 10px 0;
  }
}
.footer {
  padding: 30px 0 20px 0;
}
.footer__wrapper {
  border-radius: 20px;
  padding: 40px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.footer__list {
  max-width: 480px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 15px;
}
.footer__list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--grey);
}

@media (max-width: 840px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .footer__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 606px) {
  .footer {
    padding: 15px 0 10px 0;
  }
  .footer__wrapper {
    border-radius: 20px;
    padding: 20px;
  }
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  padding: 20px;
  background: var(--white);
}
.hero__banner {
  background: url(/images/hero-section/1.webp) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
  padding: 36px 20px;
}
.hero__banner h1 {
  margin-bottom: 15px;
}
.hero__banner .text_dop {
  color: var(--grey);
  line-height: 130%;
  margin-bottom: 40px;
}
.hero__subtitle {
  max-width: 650px;
  width: 100%;
}
.hero .h1 .mobile {
  display: none;
}
.hero__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.hero__grid_sites {
  grid-template-columns: repeat(3, 1fr);
}
.hero__card {
  position: relative;
  background: var(--light-blue);
  border-radius: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.hero__card-number {
  line-height: 110%;
  color: var(--black);
}
.hero__card-text {
  color: var(--grey);
}
.hero_reclame .hero__banner {
  min-height: 400px;
  background: url(/images/hero-section/2.webp) center/cover no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero_sites .hero__banner {
  min-height: 400px;
  background: url(/images/hero-section/3.webp) center/cover no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero_design .hero__banner {
  min-height: 400px;
  background: url(/images/hero-section/4.webp) center/cover no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero_systems .hero__banner {
  min-height: 400px;
  background: url(/images/hero-section/5.webp) center/cover no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero_vacancies .hero__banner {
  min-height: 400px;
  background: url(/images/hero-section/7.webp) center/cover no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero_portfolio .hero__banner {
  min-height: 400px;
  background: url(/images/hero-section/8.webp) center/cover no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1022px) {
  .hero__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__grid_sites {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  .hero__subtitle {
    max-width: 450px;
  }
}
@media (max-width: 798px) {
  .hero__grid_sites {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 606px) {
  .hero .h1 .mobile {
    display: block;
  }
  .hero .h1 .pc {
    display: none;
  }
  .hero__wrapper {
    border-radius: 20px;
  }
  .hero__banner {
    background: url(/images/hero-section/1-mobile.webp) center/cover no-repeat;
    padding: 15px 15px 278px 15px;
    border-radius: 15px;
  }
  .hero__grid {
    grid-template-columns: 1fr;
  }
  .hero__card {
    border-radius: 15px;
    padding: 15px;
    gap: 5px;
  }
  .hero_reclame .hero__banner {
    background: url(/images/hero-section/2-mobile.webp) center/cover no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero_sites .hero__banner {
    background: url(/images/hero-section/3-mobile.webp) center/cover no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero_design .hero__banner {
    background: url(/images/hero-section/4-mobile.webp) center/cover no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero_systems .hero__banner {
    background: url(/images/hero-section/6-mobile.webp) center/cover no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero_vacancies .hero__banner {
    background: url(/images/hero-section/7-mobile.webp) center/cover no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero_portfolio .hero__banner {
    background: url(/images/hero-section/8-mobile.webp) center/cover no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 365px) {
  .hero__card-text .hidden-mobile {
    display: none;
  }
}
.strategy__title {
  color: var(--black);
  margin-bottom: 40px;
}
.strategy__wrapper {
  border-radius: 30px;
  padding: 20px;
  background: var(--white);
}
.strategy__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-radius: 20px;
  padding: 20px;
  background: var(--light-blue);
  margin-bottom: 10px;
}
.strategy__text {
  color: var(--grey);
}
.strategy__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.strategy__quote .quote {
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: var(--white);
}
.strategy__quote .quote svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.strategy__quote .quote__text {
  color: var(--black);
}
.strategy__quote-button {
  width: 100%;
}
.strategy__bottom {
  border-radius: 20px;
  padding: 20px;
  background: var(--puprple);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.strategy__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  padding: 20px 40px 20px 20px;
  background: var(--white);
  cursor: pointer;
  position: relative;
}
.strategy__card-name {
  color: var(--black);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.strategy__card-text {
  color: var(--grey);
}
.strategy__card-link {
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: var(--dark-purple);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      -ms-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
}

@media (hover: hover) {
  .strategy__card:hover .strategy__card-name {
    color: var(--puprple);
  }
  .strategy__card:hover .strategy__card-link {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}
@media (hover: none) {
  .strategy__card:active .strategy__card-name {
    color: var(--puprple);
  }
  .strategy__card:active .strategy__card-link {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}
@media (max-width: 1022px) {
  .strategy__bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 798px) {
  .strategy__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 606px) {
  .strategy .subtitle {
    padding-left: 20px;
  }
  .strategy__title {
    padding-left: 20px;
  }
  .strategy__wrapper {
    border-radius: 20px;
  }
  .strategy__top {
    grid-template-columns: 1fr;
    gap: 20px;
    border-radius: 15px;
    padding: 15px;
  }
  .strategy__bottom {
    border-radius: 15px;
    padding: 15px;
    grid-template-columns: 1fr;
  }
  .strategy__card {
    border-radius: 10px;
    padding: 15px;
  }
  .strategy__card-link {
    display: none;
  }
  .strategy__quote .quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.projects__title {
  color: var(--black);
  margin-bottom: 40px;
}
.projects__wrapper {
  border-radius: 30px;
  padding: 20px;
  background: var(--white);
  margin-bottom: 40px;
}
.projects__button {
  margin: 0 auto;
}
.projects__button.mobile {
  display: none;
}
.projects__card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  background: var(--light-blue);
  display: block;
  height: 312px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.projects__card-image {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 212px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.projects__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__card-body {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.projects__card-text {
  color: var(--white);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.projects__card-text.hidden {
  visibility: hidden;
}
.projects__card-button {
  width: 100%;
  margin-top: 15px;
  opacity: 0;
}
.projects__card-button.hidden {
  display: none;
  opacity: 0;
  height: 0px;
  margin-top: 0;
}
.projects .swiper-slide {
  width: 396.66px !important;
}

@media (hover: hover) {
  .projects__card:hover .projects__card-image {
    height: 150px;
  }
  .projects__card:hover .projects__card-body {
    background: rgba(0, 0, 0, 0);
  }
  .projects__card:hover .projects__card-button {
    opacity: 1;
  }
  .projects__card:hover .projects__card-text {
    color: var(--black);
  }
  .projects__card:hover .projects__card-button.hidden {
    opacity: 0;
    height: 47px;
    margin-top: 15px;
  }
}
@media (max-width: 1022px) {
  .projects__card {
    height: 277px;
    border-radius: 20px;
    padding: 20px;
  }
  .projects__card .projects__card-image {
    height: 178px;
  }
  .projects__card .projects__card-body {
    background: rgba(0, 0, 0, 0);
  }
  .projects__card .projects__card-text {
    color: var(--black);
  }
  .projects__card .projects__card-button {
    display: none;
  }
  .projects__card:hover .projects__card-image {
    height: 178px;
  }
  .projects__card:hover .projects__card-body {
    background: rgba(0, 0, 0, 0);
  }
  .projects__card:hover .projects__card-text {
    color: var(--black);
  }
  .projects__card:hover .projects__card-button {
    display: none;
  }
}
@media (max-width: 798px) {
  .projects__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 606px) {
  .projects .subtitle {
    padding-left: 20px;
  }
  .projects__title {
    padding-left: 20px;
  }
  .projects__wrapper {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 0;
  }
  .projects .swiper-slide {
    width: 100% !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .projects__button.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  .projects__button.pc {
    display: none;
  }
  .projects__card {
    height: auto;
  }
}
@media (max-width: 465px) {
  .projects__button.mobile {
    width: 100%;
  }
}
.advantages__title {
  color: var(--black);
  margin-bottom: 40px;
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.advantages__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 40px;
  background: var(--white);
}
.advantages__card-name .visible-mobile {
  display: none;
}
.advantages__card-text {
  color: var(--grey);
}

@media (max-width: 798px) {
  .advantages__title {
    margin-bottom: 20px;
  }
  .advantages__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 606px) {
  .advantages .subtitle {
    padding-left: 20px;
  }
  .advantages__title {
    padding-left: 20px;
  }
  .advantages__card {
    border-radius: 20px;
    padding: 20px;
  }
  .advantages__card-name .visible-mobile {
    display: block;
  }
}
.trust__title {
  color: var(--black);
  margin-bottom: 40px;
}
.trust__wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.trust__slider {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200%;
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  animation-direction: reverse;
}
.trust__card {
  border-radius: 20px;
  padding: 20px;
  background: var(--white);
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trust__card img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trust .splide {
  pointer-events: none;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 798px) {
  .trust__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 606px) {
  .trust .subtitle {
    padding-left: 20px;
  }
  .trust__title {
    padding-left: 20px;
  }
  .trust__card {
    border-radius: 10px;
    padding: 5px 10px;
    width: 110px;
    height: 55px;
  }
}
.callback__wrapper {
  border-radius: 30px;
  padding: 20px;
  background-color: var(--puprple);
  background-image: url(/images/icons/callback-background-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  min-height: 555px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.callback__title {
  color: var(--white);
  margin-bottom: 10px;
}
.callback__subtitle {
  color: var(--white);
}
.callback__text {
  padding: 20px 40px 20px 20px;
}
.callback__form {
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background: var(--light-blue);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.callback__form-text {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.callback__form-text .text {
  color: var(--grey);
}
.callback__form-text .text a {
  color: var(--grey);
  text-decoration: underline;
}
.callback__form-btn {
  width: 100%;
}
.callback__form-thanks {
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}
.callback__form.hidden {
  display: none;
}

@media (max-width: 798px) {
  .callback__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (max-width: 606px) {
  .callback__wrapper {
    border-radius: 20px;
    padding: 20px;
  }
  .callback__text {
    padding: 0;
  }
  .callback__form {
    border-radius: 15px;
    padding: 15px;
  }
}
.desk__banner {
  border-radius: 30px;
  padding: 40px;
  background: url(/images/desk-section/1.webp) center/cover no-repeat;
  margin-bottom: 10px;
}
.desk__title {
  margin-bottom: 10px;
}
.desk__text {
  margin-bottom: 30px;
  color: var(--grey);
  max-width: 750px;
  width: 100%;
}
.desk__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.desk__grid_systems {
  grid-template-columns: repeat(2, 1fr);
}
.desk__card {
  border-radius: 20px;
  padding: 40px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.desk__card-name {
  color: var(--black);
  margin-bottom: 10px;
}
.desk__card-text {
  color: var(--grey);
  margin-bottom: 40px;
}
.desk__card-button {
  margin-top: auto;
}
.desk__accordion {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.desk__accordion-item {
  border-radius: 15px;
  background: var(--white);
}
.desk__accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}
.desk__accordion-header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 35px;
  height: 35px;
}
.desk__accordion-header .icon svg {
  width: 22px;
  height: 22px;
}
.desk__accordion-header .icon svg path {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.desk__accordion-item.accordion__item_show .desk__accordion-header .icon, .desk__accordion-item.accordion__item_slidedown .desk__accordion-header .icon {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.desk__accordion_pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  padding: 20px;
  background: var(--white);
}
.desk__accordion_pc .desk__accordion-item {
  background: var(--light-blue);
}
.desk__accordion_pc .desk__accordion-header .h3 .text {
  color: var(--grey);
}
.desk__vacancy {
  padding: 0 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.desk__vacancy .text {
  color: var(--grey);
}
.desk__vacancy .text.black {
  color: var(--black);
}
.desk__vacancy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-left: 20px;
}

@media (hover: hover) {
  .desk__accordion-header:hover .icon {
    background: var(--puprple);
  }
  .desk__accordion-header:hover .icon svg path {
    stroke: var(--white);
  }
}
@media (hover: none) {
  .desk__accordion-header:active .icon {
    background: var(--puprple);
  }
  .desk__accordion-header:active .icon svg path {
    stroke: var(--white);
  }
}
@media (max-width: 1022px) {
  .desk__grid {
    display: none;
  }
  .desk__accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desk__card-text {
    margin-bottom: 20px;
  }
  .desk__slug {
    padding: 0 20px 20px 20px;
  }
}
@media (max-width: 606px) {
  .desk__banner {
    border-radius: 20px;
    padding: 20px;
  }
  .desk__title_sites br {
    display: none;
  }
}
.work__wrapper {
  border-radius: 30px;
  padding: 40px;
  background: url(/images/work-section/1.webp) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.work__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__info .h2 {
  color: var(--black);
}
.work__info .h2 br {
  display: none;
}
.work__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__left, .work__right {
  padding: 0;
  border: none;
  background: var(--puprple);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  height: 47px;
}
.work__left {
  border-radius: 60px 0 0 60px;
}
.work__right {
  border-radius: 0 60px 60px 0;
}
.work__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  padding-right: 20px;
}
.work__slider {
  width: 50%;
}
.work__slide {
  border-radius: 20px;
  padding: 40px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.work__slide-name {
  color: var(--black);
}
.work__slide-text {
  color: var(--grey);
}
.work .swiper-slide, .work .work-swiper {
  border-radius: 20px;
  overflow: hidden;
}
.work__pagination {
  position: static;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.work__pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: var(--light-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.work__pagination .swiper-pagination-bullet .bullet-number {
  display: none;
}
.work__pagination .swiper-pagination-bullet-active {
  width: 30px;
  height: 30px;
  background: var(--puprple);
}
.work__pagination .swiper-pagination-bullet-active .bullet-number {
  display: inline;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--white);
}
.work__title {
  display: none;
}

@media (hover: hover) {
  .work__left:hover, .work__right:hover {
    background: var(--dark-purple);
  }
}
@media (hover: none) {
  .work__left:active, .work__right:active {
    background: var(--dark-purple);
  }
}
@media (max-width: 1022px) {
  .work__info .h2 br {
    display: block;
  }
}
@media (max-width: 798px) {
  .work__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
  }
  .work__info {
    width: 100%;
  }
  .work__info .h2 {
    display: none;
  }
  .work__slider {
    width: 100%;
  }
  .work__title {
    display: block;
  }
  .work__buttons {
    padding-right: 0;
  }
  .work .swiper-slide, .work .work-swiper {
    border-radius: 20px;
    overflow: hidden;
  }
}
@media (max-width: 606px) {
  .work__title .subtitle {
    padding-left: 20px;
  }
  .work__slide {
    border-radius: 20px;
    padding: 20px;
  }
  .work__controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 370px) {
  .work__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portfolio__wrapper {
  border-radius: 30px;
  padding: 20px;
  background: var(--white);
}
.portfolio__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  color: var(--black);
  margin-bottom: 20px;
  max-width: 750px;
  width: 100%;
}
.portfolio__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}
.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.portfolio__card {
  position: relative;
  border-radius: 20px;
  padding: 20px 45px 20px 20px;
  background: var(--light-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.portfolio__card-name {
  color: var(--black);
}
.portfolio__card-text {
  color: var(--grey);
}
.portfolio__image {
  border-radius: 20px;
  padding: 20px;
  background: var(--puprple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.portfolio__image-label {
  color: var(--white);
}
.portfolio__image .image {
  border-radius: 20px;
  overflow: hidden;
  background: var(--white);
  height: 100%;
}
.portfolio__image .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolio__bottom {
  border-radius: 20px;
  padding: 20px;
  background: url(/images/desk-section/1.webp) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.portfolio__bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 750px;
  width: 100%;
}
.portfolio__bottom-name {
  color: var(--black);
}
.portfolio__bottom-text {
  color: var(--grey);
}
.portfolio__bottom-button {
  white-space: nowrap;
}

@media (max-width: 798px) {
  .portfolio__title {
    font-size: 27px;
  }
  .portfolio__top {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .portfolio__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 606px) {
  .portfolio__wrapper {
    border-radius: 20px;
    padding: 20px;
  }
  .portfolio__bottom {
    border-radius: 15px;
    padding: 15px;
  }
  .portfolio__card {
    border-radius: 15px;
    padding: 15px 60px 15px 15px;
  }
  .portfolio__image {
    border-radius: 15px;
    padding: 15px;
  }
  .portfolio__image .image {
    border-radius: 10px;
  }
}
.error__wrapper {
  border-radius: 30px;
  padding: 20px;
  background: var(--white);
}
.error__banner {
  background: url(/images/hero-section/9.webp) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 550px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding: 20px;
}
.error__title {
  color: var(--black);
  margin-bottom: 15px;
  text-align: center;
}
.error__text {
  color: var(--grey);
  text-align: center;
  max-width: 650px;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 1022px) {
  .error__banner {
    min-height: 1150px;
  }
}
@media (max-width: 798px) {
  .error__banner {
    min-height: 650px;
  }
}
*:active, *:focus, *:focus-within, *:target, *:hover, *:visited, *:focus-visible {
  outline: none !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: relative;
  color: #000;
  min-width: 303px;
  scroll-behavior: smooth;
  background: var(--light-background);
}

ol, ul {
  list-style: none;
}

label, button {
  cursor: pointer;
}

b {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */