:root {
  --font-family: "Geist", sans-serif;

	--white: #fff;
	--black: #000;
	--puprple: #6877dd;
	--dark-purple: #5a67bf;
	--light-blue: #ecf1f9;
	--grey: #677280;
	--grey-2: #aaacaf;
	--purple-transparent: rgba(104, 119, 221, 0.5);
	--light-background: #f6f7f9;
	--red: #db0000;
}
